body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    background-color: #e0f7fa; /* Jasny niebieski */
    text-align: center;
}

h1 {
    color: #004d40; /* Ciemny zielony */
    text-align: center;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #ffffff;
    text-align: center;
}
table caption {
    font-weight: bold;
    margin-bottom: 10px;
    color: #00796b; /* Zielony */
     text-align: center;
}
table, th, td {
    border: 1px solid #004d40; /* Ciemny zielony */
     text-align: center;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #b2dfdb; /* Jasny zielony */
    color: #004d40; /* Ciemny zielony */
    text-align: center;
}
tr:nth-child(even) {
    background-color: #e0f2f1; /* Bardzo jasny zielony */
}
tr:hover {
    background-color: #b2dfdb; /* Jasny zielony */
}
p {
    text-align: center;
    font-weight: bold;
    color: #004d40; /* Ciemny zielony */
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Utrzymuje proporcje obrazu i wypełnia komórkę */
}
td {
    padding: 0; /* Usuwa domyślne wypełnienie, aby obrazek mógł wypełniać komórkę */
}